<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.copyartifact.CopyArtifactPermissionProperty plugin="copyartifact@1.42.1">
      <projectNameList/>
    </hudson.plugins.copyartifact.CopyArtifactPermissionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.zap.ZAPBuilder plugin="zap@1.1.0">
      <startZAPFirst>false</startZAPFirst>
      <zaproxy>
        <startZAPFirst>false</startZAPFirst>
        <zapHost>localhost</zapHost>
        <zapPort>8090</zapPort>
        <evaluatedZapPort>0</evaluatedZapPort>
        <cmdLinesZAP>
          <org.jenkinsci.plugins.zap.ZAPCmdLine>
            <cmdLineOption>-config</cmdLineOption>
            <cmdLineValue>script.scripts.name=login.zst</cmdLineValue>
          </org.jenkinsci.plugins.zap.ZAPCmdLine>
          <org.jenkinsci.plugins.zap.ZAPCmdLine>
            <cmdLineOption>-config</cmdLineOption>
            <cmdLineValue>script.scripts.engine=Mozilla Zest</cmdLineValue>
          </org.jenkinsci.plugins.zap.ZAPCmdLine>
          <org.jenkinsci.plugins.zap.ZAPCmdLine>
            <cmdLineOption>-config</cmdLineOption>
            <cmdLineValue>script.scripts.type=authentication</cmdLineValue>
          </org.jenkinsci.plugins.zap.ZAPCmdLine>
          <org.jenkinsci.plugins.zap.ZAPCmdLine>
            <cmdLineOption>-config</cmdLineOption>
            <cmdLineValue>script.scripts.enabled=true</cmdLineValue>
          </org.jenkinsci.plugins.zap.ZAPCmdLine>
          <org.jenkinsci.plugins.zap.ZAPCmdLine>
            <cmdLineOption>-config</cmdLineOption>
            <cmdLineValue>script.scripts.file=/var/jenkins_home/.ZAP/scripts/scripts/authentication/login.zst</cmdLineValue>
          </org.jenkinsci.plugins.zap.ZAPCmdLine>
          <org.jenkinsci.plugins.zap.ZAPCmdLine>
            <cmdLineOption>-addoninstall</cmdLineOption>
            <cmdLineValue>exportreport</cmdLineValue>
          </org.jenkinsci.plugins.zap.ZAPCmdLine>
        </cmdLinesZAP>
        <jdk>InheritFromJob</jdk>
        <toolUsed>ZAP_2.7.0</toolUsed>
        <zapHome>ZAPROXY_HOME</zapHome>
        <timeout>60</timeout>
        <autoInstall>true</autoInstall>
        <zapSettingsDir>/var/jenkins_home/.ZAP</zapSettingsDir>
        <autoLoadSession>false</autoLoadSession>
        <loadSession></loadSession>
        <sessionFilename>test</sessionFilename>
        <removeExternalSites>false</removeExternalSites>
        <internalSites></internalSites>
        <contextName>default</contextName>
        <excludedURL></excludedURL>
        <includedURL>http://10.1.2.20:8000/.*</includedURL>
        <alertFilters></alertFilters>
        <authMode>true</authMode>
        <username>test@example.com</username>
        <password>password</password>
        <loggedInIndicator>testuser</loggedInIndicator>
        <loggedOutIndicator></loggedOutIndicator>
        <authMethod>SCRIPT_BASED</authMethod>
        <loginURL></loginURL>
        <usernameParameter></usernameParameter>
        <passwordParameter></passwordParameter>
        <extraPostData></extraPostData>
        <authScript>login.zst</authScript>
        <authScriptParams/>
        <targetURL>http://10.1.2.20:8000/</targetURL>
        <spiderScanURL>true</spiderScanURL>
        <spiderScanRecurse>true</spiderScanRecurse>
        <spiderScanSubtreeOnly>true</spiderScanSubtreeOnly>
        <spiderScanMaxChildrenToCrawl>19</spiderScanMaxChildrenToCrawl>
        <ajaxSpiderURL>false</ajaxSpiderURL>
        <ajaxSpiderInScopeOnly>false</ajaxSpiderInScopeOnly>
        <activeScanURL>true</activeScanURL>
        <activeScanRecurse>true</activeScanRecurse>
        <activeScanPolicy></activeScanPolicy>
        <generateReports>true</generateReports>
        <deleteReports>false</deleteReports>
        <reportFilename>JENKINS_ZAP_VULNERABILITY_REPORT</reportFilename>
        <selectedReportMethod>EXPORT_REPORT</selectedReportMethod>
        <selectedReportFormats>
          <string>html</string>
        </selectedReportFormats>
        <selectedExportFormats>
          <string>json</string>
        </selectedExportFormats>
        <exportreportTitle>badstore</exportreportTitle>
        <exportreportBy>autoscan</exportreportBy>
        <exportreportFor>dev</exportreportFor>
        <exportreportScanDate>date</exportreportScanDate>
        <exportreportReportDate>date</exportreportReportDate>
        <exportreportScanVersion>0</exportreportScanVersion>
        <exportreportReportVersion>0</exportreportReportVersion>
        <exportreportReportDescription></exportreportReportDescription>
        <exportreportAlertHigh>true</exportreportAlertHigh>
        <exportreportAlertMedium>true</exportreportAlertMedium>
        <exportreportAlertLow>true</exportreportAlertLow>
        <exportreportAlertInformational>true</exportreportAlertInformational>
        <exportreportCWEID>true</exportreportCWEID>
        <exportreportWASCID>true</exportreportWASCID>
        <exportreportDescription>true</exportreportDescription>
        <exportreportOtherInfo>true</exportreportOtherInfo>
        <exportreportSolution>true</exportreportSolution>
        <exportreportReference>true</exportreportReference>
        <exportreportRequestHeader>false</exportreportRequestHeader>
        <exportreportResponseHeader>false</exportreportResponseHeader>
        <exportreportRequestBody>false</exportreportRequestBody>
        <exportreportResponseBody>false</exportreportResponseBody>
        <jiraCreate>false</jiraCreate>
        <jiraProjectKey></jiraProjectKey>
        <jiraAssignee></jiraAssignee>
        <jiraAlertHigh>false</jiraAlertHigh>
        <jiraAlertMedium>false</jiraAlertMedium>
        <jiraAlertLow>false</jiraAlertLow>
        <jiraFilterIssuesByResourceType>false</jiraFilterIssuesByResourceType>
      </zaproxy>
      <zapHost>localhost</zapHost>
      <zapPort>8090</zapPort>
    </org.jenkinsci.plugins.zap.ZAPBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>reports/JENKINS_ZAP_VULNERABILITY_REPORT.json</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>